main {
  flex: 1;
 
}

main ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  list-style: none;
}

li.dev-item {
  background-color: #fff;
  box-shadow: 0 0 14px 0 rgba(0,0,0,0.2);
  border-radius: 2px;
  padding: 30px 20px;
}

li.dev-item  header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

li.dev-item  header img{
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

li.dev-item  header .user-info {
  margin-left: 10px;
}

.user-info strong {
  display: block;
  font-size: 18px;
  color: #333;
}

.user-info span {
  font-size: 13px;
  color: #777;
}

li.dev-item p {
  color: #666;
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0 20px;
}

li.dev-item a {
  color: #1b1a1a;
  font-size: 14px;
  text-decoration: none;
  border: 1px solid #333;
  border-radius: 2px;
  padding: 5px 10px
}

li.dev-item button {
  color: #1b1a1a;
  font-size: 14px;
  text-decoration: none;
  border: 1px solid #333;
  border-radius: 2px;
  padding: 5px 10px
}

li.dev-item a:hover {
  color: #fff;
  background-color: #1b1a1a;
  transition: background 0.5s;
}

li.dev-item button:hover {
  color: #fff;
  background-color: #1b1a1a;
  transition: background 0.5s;
}

@media (max-width: 650px){
  main ul {
    grid-template-columns: 1fr;
  }
}